<footer id="footer" class="twelve columns" data-hook>
  <div class="container">

    <div class="three columns">
      <%= image_tag "store/logo-white.png", :alt => "Spree Demo Theme", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:541-476-6134">541.476.6134</a>
        </div>
      <br>
      <div class="email">
        <a href="mailto:sales@roguecoffeeroasters.com">sales@roguecoffeeroasters.com</a>
      </div>
      <br>
      <div class="address">
        237 SW G St.
        <br>
       Grants Pass, OR 97526
      </div>
    </div>

    <div class="three columns">
      <h5>Our Best Offers</h5>
      <ul>
        <li><a href="/products">Products</a></li>
        <li><a href="/sale">On Sale</a></li>
      </ul>
    </div>

    <div class="three columns">
      <h5>Regular Services</h5>
      <ul>
        <li><a href="/products">Contact</a></li>
        <li><a href="/products">Shipping Info</a></li>
        <li><a href="/products">Returns</a></li>
      </ul>
    </div>

  </div>
</footer>